<% include _layouts/header %>

<h1>Top quality Pizza</h1>
<img src="template/img/11445869-01.png" alt="">
<br>
We take pride greatly on being the finest resturdant of our area. We server qualitative and hygenic products. Customer are our priority
<br>

<% include _layouts/footer %>